<!DOCTYPE html>
<html>

<head>
<% include ./parts/head %>
</head>

  <title>bCODE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-sidenav a {padding:20px}
  </style>
  <body>









<div>
  <%- include( body_template ) %>
</div>

</body>

</html>
