<head>
<link rel="stylesheet" href="/stylesheets/jadetest.css">
<script type="text/javascript" src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>

<body onload="javascript:window_onload()">




	<br><br>
	<div class ="main" style="padding-top: 50px;">
	</div>
<div class="container" style="height: 1100px;">

	<div class="card">
		<div class="tile" style="border:1px">
		</div>
		<div class="tile" style="border:1px">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
		<div class="tile">
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/jadetest.js"></script>

</body>

<script language="javascript">
 <!--
 	 function window_onload(){
 			setTimeout('go_url()',3000)  // 5초후 go_url() 함수를 호출한다.
 	 }

 	 function go_url(){
 			location.href="https://bcode.herokuapp.com/bcode/test3"  // 페이지 이동...
 	 }
 -->
 </script>






<%#
link(href='/stylesheets/jadetest.css', rel='stylesheet')
script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
  <link rel="stylesheet" href="stylesheets/jadetest.css">
<script type="text/javascript" src="/js/spink.js"></script>
div(class="container")
	div(class="card")
		- for(var x = 0;x < 9;x++)
				div(class="tile")

script(src="/js/jadetest.js")%>
