<!DOCTYPE html>
<html>
<head>

<%# <p data-height="265" data-theme-id="0" data-slug-hash="rHIsa" data-default-tab="js,result" data-user="akm2" data-embed-version="2" data-pen-title="Gravity Points" class="codepen">See the Pen <a href="http://codepen.io/akm2/pen/rHIsa/">Gravity Points</a> by Akimitsu Hamamuro (<a href="http://codepen.io/akm2">@akm2</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>%>

<% include ./parts/head %>
    <script src="/js/KzYMdN.js"></script>

  <meta charset="UTF-8">
  <title>Gravity Points</title>



      <%# <link rel="stylesheet" href="css/style.css">%>


</head>

<body>
  <canvas id="c"></canvas>
<div class="info">Click to add gravity point
    <script src="/js/index.js"></script>
    </div>

</body>
</html>
