<!DOCTYPE html>
<!--
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
-->
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/test3.css">
  <meta charset="utf-8">
  <meta name="description" content="WebRTC code samples">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Client-side WebRTC code samples">
  <%# <meta itemprop="image" content="../../../images/webrtc-icon-192x192.png">%>
  <meta itemprop="name" content="WebRTC code samples">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <base target="_blank">

  <title>Select audio and video sources</title>

  <%# <link rel="icon" sizes="192x192" href="../../../images/webrtc-icon-192x192.png">%>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
  <%# <link rel="stylesheet" href="../../../css/main.css">%>

  <style>
    div.select {
      display: inline-block;
      margin: 0 0 1em 0;
    }
    p.small {
      font-size: 0.7em;
    }
    label {
      width: 12em;
      display: inline-block;
    }

    #main {
        width: 220px;
        height: 300px;
        border: 1px solid black;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: flex-start; /* Safari 7.0+ */
        display: flex;
        align-items: flex-start;
    }

    #main div {
        -webkit-flex: 1; /* Safari 6.1+ */
        flex: 1;
    }

    #myBlueDiv {
        -webkit-align-self: center; /* Safari 7.0+ */
        align-self: center;
    }
  </style>

</head>

<body>
  <div id="container">

    <%# <div class="highlight">
      <p>New codelab: <a href="https://codelabs.developers.google.com/codelabs/webrtc-web">Realtime communication with WebRTC</a></p>
    </div>

    <h1><a href="//webrtc.github.io/samples/" title="WebRTC samples homepage">WebRTC samples</a><span>Select sources &amp; outputs</span></h1>

    <p>Get available audio, video sources and audio output devices<b>*</b> from <code>mediaDevices.enumerateDevices()</code> then set the source for <code>getUserMedia()</code> using a <code>deviceId</code> constraint.</p>

    <p class="small"><b>*</b>Enable experimental support in <b>Chrome 45.0.2441.x</b> or later by selecting <b>Enable experimental Web Platform features</b> in <b>chrome://flags</b> or by using command line flag "<b>--enable-blink-features=EnumerateDevices,AudioOutputDevices</b>". Use the <code>setSinkID()</code> method on the video element and provide a audio or video element and a sinkId (<code>deviceId</code> for where <code>deviceInfo.kind === 'audiooutput'</code>) as arguments. Also the web page must be served over HTTPS.</p>%>

    <div class="select" style="display: none;">
      <label for="audioSource"><%#Audio input source: %></label><select id="audioSource"></select>
    </div>

    <div class="select" style="display: none;">
      <label for="audioOutput"><%#Audio output destination: %></label><select id="audioOutput"></select>
    </div>

    <div class="select">
      <label for="videoSource" style= "width: 100px">Scan source: </label><select id="videoSource"></select> <%#  %>
      <button id="scanButton">bCODE scan</button><button id="setButton">bCODE setting</button>
    </div>


<br><br>
    <div id="scan" style="text-align:center; border:1px solid #ddd;">
    <video id="video" style="width:300px; height:150px; border: 1px solid #ccc;"  autoplay></video><br> <%#style="width:150px; height:267px" style="width:320px; height:240px" %>
    <button id="snap">bCODE scan</button>
    <div class="img">
      <div class="containerVideo" style="margin: auto">


        <div class="cardVideo">

          <div id="tile11" class="myboxVideo" style="background:white;">
          </div>

          <div id="tile22" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile33" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile44" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile55" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile66" class="myboxVideo" style="background:black;" >
          </div>

          <div id="tile77" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile88" class="myboxVideo" style="background:black;">
          </div>

          <div id="tile99" class="myboxVideo" style="background:black;">
          </div>

        </div>
      </div>
    </div> <%# div img %>


    </div>




<%# if ( canvas != "") {%>
<br>
    <div id="view" style="text-align:center; border:2px solid #bbb;">
    <canvas id="canvas" style="width:300px;height:150px;text-align:center;border: 1px solid #ccc;padding-left: 70px;"></canvas><br>
    <button id="backToScan">backToScan</button>
    </div>

<br><br>
    <div id="set">
  <div class="container" style="height: 450px;">

    <div class="card">

      <div id="tile1" class="mybox" style="background:white;">
      </div>

      <div id="tile2" class="mybox" style="background:black;">
      </div>

      <div id="tile3" class="mybox" style="background:black;">
      </div>

      <div id="tile4" class="mybox" style="background:black;">
      </div>

      <div id="tile5" class="mybox" style="background:black;">
      </div>

      <div id="tile6" class="mybox" style="background:black;" >
      </div>

      <div id="tile7" class="mybox" style="background:black;">
      </div>

      <div id="tile8" class="mybox" style="background:black;">
      </div>

      <div id="tile9" class="mybox" style="background:black;">
      </div>

    </div>
  </div>
</div>







    <script>

    console.log("test3.ejs - context : ",  canvas.getContext('2d') )
    console.log("id:tile6.value :", document.getElementById("tile6").style)
    var tile6 = document.getElementById("tile6")
    console.log("id:tile6.value :", tile6.value)


    </script>

<%# } %>
<%#
    <p class="small"><b>Note:</b> If you hear a reverb sound your microphone is picking up the output of your speakers/headset, lower the volume and/or move the microphone further away from your speakers/headset.</p>

    <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/devices/input-output" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>%>
  </div>

  <script src="/js/camera3/adapter.js"></script> <%# 이거하고 바로 아래 스크립트 두개 적용안했을 때, 맥에서는 카메라가 작동되지만, 폰에서는 안됐음 %>
  <script src="/js/camera3/common.js"></script>
  <script src="/js/camera3/main.js"></script>



  <%# <script src="../../../js/lib/ga.js"></script>%>
</body>
</html>
